<nav>
  <section class="navbar">
    <a href="#" class="navbar-stuff">Stuff</a>
    <ul class="">
      <li><a href="/stuff">Public stuff</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </section>
</nav>