<h3>
    <i class="fas fa-book-reader"></i>
    Books
</h3>

<section class="section">
    <p class="lead">Literally write an entire book, right now.</p>
</section>

<section class="section">
    <a href="auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>
        Sign in with Google
    </a>
</section>